.interface {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  position: relative;
  padding:0;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  @include media-breakpoint-up(md) {
    height: 100%;


    .manage {
      height: calc(100% - 120px);
      overflow-y: auto;
      overflow-x: hidden;
    }

    .content {
      height: 100%;
      overflow: auto;
      padding: 20px 40px;

      .no-content {
        margin: 120px auto 0 auto;
        width: 230px;
      }
    }

    .content-tabbed {
      padding: 20px 0 0 0;
      height: 100%;
      position: relative;
      overflow: hidden;

      > div {
        &:first-child {
          height: 100%;
          overflow: hidden;
        }
      }

      .tab-content {
        background: #FFFFFF;
        height: calc(100% - 40px);
        overflow: hidden;
        padding: 20px 0;
      }

      .tab-pane {
        height: 100%;
        overflow: auto;
        padding: 0 40px;
        @include clearfix();
      }
    }

    .closed & {
      margin: 0;
      width: calc(100% - 75px) !important;
    }
  }

  .file-uploads {
    margin: 0 !important;
  }


}