.modal-content {
  background: $body-bg;
  border: none;
  box-shadow: none;

  .modal-footer {
    border: none;
    padding: 0;
    width:100%;
    div{
      width:100%;
    }
  }

}
.footer-btns {
  .btn {
    border: none;
    float: left;
    width: 50%;
    margin: 0;
    padding: 10px;
  }
}
.modal-xl {
  max-width: $modal-xl;
}

.modal-backdrop{
  opacity: $modal-backdrop-opacity;
}